@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "html-reset.css";
@import "top-bar.css";
@import "login.css";
@import "variables.css";
@import "friends.css";
@import "friends-header.css";
@import "user-component.css";
@import "nav-bar.css";
@import "birthdaytap.css";
@import "badge.css";
@import "chatting.css";
@import "alt-screen-header.css";
@import "find-icon.css";
@import "find.css";
@import "more.css";
@import "setting.css";
@import "no-mobile.css";

body {
  height: 115vh;
  background: linear-gradient(rgb(51, 112, 245), transparent),
    linear-gradient(to top left, rgb(45, 11, 109), transparent),
    linear-gradient(to top right, rgb(15, 100, 139), transparent);
  background-blend-mode: screen;
  background-blend-mode: multiply;
  background-blend-mode: overlay;
  background-blend-mode: darken;
  background-blend-mode: soft-light;
  background-blend-mode: luminosity;
}

.main-screen {
  padding: 0px 15px;
}
