.user-component {
  display: flex;
  margin-bottom: 20px;
}

.user-component {
  justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 25px;
  margin: 30px 0px 0px 0px;
}

.user-component__title {
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 25px;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__avatar--sm {
  width: 55px;
  height: 55px;
  border-radius: 20px;
}

.user-component__title--not-bold {
  margin-top: 25px;
  font-weight: 800;
  font-size: 17px;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  margin-top: 25px;
  margin-right: 5px;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 10px;
}
